{% extends 'base.html' %}
{% block content %}

<body> 

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center blue-grey-text">Find the best places to Walk Run or Hike in Cork</h1>
     
   <p class="row center grey-text">Or add your own destinations</p> 
      

    </div>
  </div>


 <div class="container">
 
<h3>Materialize Carousel Demo</h3>
 
<div class="carousel">
    <a class="carousel-item" href="#one!"><img src="static/images/background1.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="static/images/background2.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="static/images/background3.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="static/images/mizenhead.jpg"></a>
    <a class="carousel-item" href="#five!"><img src="static/images/charlesfortkinsale.jpg"></a>
  </div>
    </div>
    <br><br>

    <div class="section">

    </div>
  </div>
            
            
      
  

</body>
{% endblock %}