{% extends "base.html" %}
{% block nav_index %}active{% endblock %}
{% block content %}
<div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img src="static/images/mizenhead.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="static/images/UCC.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="static/images/Charlesfortkinsale.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="static/imaages/background3.jpg"></a>
  </div>


{% endblock %}