{% extends 'base.html' %}
{% block content %}
<body>
<!--Registration form for users-->
<h3 class="center-align">Register Here</h1>

<div class="row">
    <form class="col s12 m5 offset-m2" method="POST" action="{{ url_for('register')}}">
      <div class="card-panel teal">
      <!--Username-->
        <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input placeholder="username" name="username" type="text" class="validate">
          <label for="username">Username</label>
        </div>
    </div>
    <!--Password-->
    <div class="row">
        <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
          <input placeholder="password" name="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <!--Register Button -->
      <div class="row">
      <button class="btn waves-effect waves-light" type="submit" name="action">Register
    <i class="material-icons right">send</i>
  </button>
    </div>
</div>
    </form>
  </div>

</body>
{% endblock %}